@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Raleway&display=swap');

body {
    background-color: rgb(60, 47, 60);
}

header {
    background-color: rgb(32, 27, 32);
    padding: 50px 0 20px 0;
}

h1 {
    font-size: 36px;
    font-family: 'Megrim', serif;
    color: rgb(211, 177, 177);
    text-align: center;
    font-weight: bold;
    text-shadow: 8px 8px 12px rgb(245, 42, 6);
}

span {
    text-shadow: 4px 4px 4px rgb(190, 31, 3);
}

h2 {
    font-family: 'Megrim', sans-serif;
    color: rgb(25, 128, 24);
    text-align: center;
    padding: 100px 0 100px 0;
    font-weight: bold;
}

p {
    font-family: 'Raleway', sans-serif;
    color: orange;
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 24px;
}

a {
    display: block;
    font-family: 'Raleway', sans-serif;
    color: red;
    text-align: center;
}

.event {
    margin-bottom: 80px;
    background: linear-gradient(rgb(32, 27, 32), rgb(60, 47, 60))
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 0px 60px 0px;
    max-width: 300px;
}

.cover-image {
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 4px rgb(129, 50, 50);
}

.title-link {
    font-size: 24px;
    font-weight: bold;
}

@media (min-width: 620px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 48px;
    }
    .films {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}